<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SGU Event Scheduler</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/event}">Sự kiện</a>
                </li>
                <li sec:authorize="hasAnyAuthority('TEACHER', 'ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/event/edit}">Tạo sự kiện</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/event/my-event}">Lịch của tôi</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Đăng nhập</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span th:text="|Xin chào, ${#authentication.principal.username}|"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" th:href="@{/user/info}"><i class="fa-regular fa-user"></i> Tài khoản</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <th:block sec:authorize="hasAuthority('ADMIN')">
                            <li>
                                <a class="dropdown-item" th:href="@{/logout}"><i class="fa-solid fa-gear"></i> Trang quản trị</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                        </th:block>
                        <li>
                            <a class="dropdown-item" th:href="@{/logout}"><i class="fa-solid fa-right-from-bracket"></i> Đăng xuất</a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>