<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webpage/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webpage/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/webpage/customstyled.css}">
    <link rel="stylesheet" th:href="@{/webpage/plugins/select2/css/select2.min.css}">
    <title>SGU Event Schedular</title>
    <style>
        body {
          font-family: 'Poppins', sans-serif;
          background-color: #F1F6FF;
        }
    </style>
</head>