<div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
    <div id="toast" class="toast align-items-center" role="alert" aria-live="assertive" data-bs-delay="4000" aria-atomic="true">
        <div class="toast-header text-bg-primary">
            <strong class="me-auto">Hệ thống</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body"></div>
    </div>
</div>