<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--Head-->
<div th:replace="~{fragments/head-admin}"></div>
<!--Head-->

<body>
<div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
    <!-- ! Sidebar -->
    <div th:replace="~{fragments/sidebar-admin}"></div>
    <div class="main-wrapper">
        <!-- ! Main nav -->
        <div th:replace="~{fragments/header-admin}"></div>
        <!-- ! Main -->
        <div class="main">
            <div class="container">
                <h2 class="main-title text-center text-uppercase">Quản
                    lý lớp-khoa</h2>
                <div class="row d-flex justify-content-between px-sm-0 px-lg-5">
                    <div class="col-4">
                        <button type="button" class="btn btn-primary">Tạo Khoa</button>
                    </div>
                    <div class="input-group col-8">
                        <select class="form-select">
                            <option selected disabled>Chọn khoa</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <input type="text" class="form-control"
                               placeholder="Tìm" />
                        <button type="button" class="btn btn-primary"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="list-group px-sm-0 px-lg-5">
                    <div
                            class="list-group-item d-flex justify-content-between align-items-center mt-3">
                        <h5>Công Nghệ Thông Tin
                            <span class="badge bg-primary ms-3">CNTT</span>
                        </h5>
                        <div>
                            <button class="btn btn-sm btn-outline-primary btn_seemore">Ẩn bớt
                                <i class="fa-solid fa-chevron-up"></i>
                            </button>
                            <button class="btn btn-sm btn-primary">
                                <i class="fa-regular fa-square-plus"></i> Thêm lớp
                            </button>
                            <button class="btn btn-sm btn-danger">
                                <i class="fa-regular fa-trash-can"></i> Xóa
                            </button>
                        </div>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item d-flex justify-content-between pe-4">
                            <div>
                                Ngành Kỹ thuật phần mềm - K20 - lớp 1
                                <span class="badge bg-info ms-3">DKP1201</span>
                            </div>
                            <div>
                                <button class="btn btn-sm btn-outline-success">
                                    <i class="fa-regular fa-pen-to-square"></i> Sửa
                                </button>
                                <button class="btn btn-sm btn-outline-danger">
                                    <i class="fa-regular fa-trash-can"></i> Xóa
                                </button>
                            </div>
                        </div>
                        <div class="list-group-item d-flex justify-content-between pe-4">
                            <div>
                                Ngành Kỹ thuật phần mềm - K20 - lớp 1
                                <span class="badge bg-info ms-3">DKP1201</span>
                            </div>
                            <div>
                                <button class="btn btn-sm btn-outline-success">
                                    <i class="fa-regular fa-pen-to-square"></i> Sửa
                                </button>
                                <button class="btn btn-sm btn-outline-danger">
                                    <i class="fa-regular fa-trash-can"></i> Xóa
                                </button>
                            </div>
                        </div>
                        <div class="list-group-item d-flex justify-content-between pe-4">
                            <div>
                                Ngành Kỹ thuật phần mềm - K20 - lớp 1
                                <span class="badge bg-info ms-3">DKP1201</span>
                            </div>
                            <div>
                                <button class="btn btn-sm btn-outline-success">
                                    <i class="fa-regular fa-pen-to-square"></i> Sửa
                                </button>
                                <button class="btn btn-sm btn-outline-danger">
                                    <i class="fa-regular fa-trash-can"></i> Xóa
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <!-- ! Footer -->
            <div th:replace="~{fragments/footer-admin}"></div>
        </div>
    </div>
</div>
<script th:src="@{/webpage/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webpage/jquery/jquery-3.7.1.min.js}"></script>
<!-- Icons library -->
<script th:src="@{/adminpage/plugins/feather.min.js}"></script>
<!-- Custom scripts -->
<script th:src="@{/adminpage/js/script.js}"></script>
<script th:src="@{/adminpage/myscript.js}"></script>
</body>

</html>