<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--Head-->
<div th:replace="~{fragments/head-admin}"></div>
<!--Head-->

<body>
<div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
    <!-- ! Sidebar -->
    <div th:replace="~{fragments/sidebar-admin}"></div>
    <div class="main-wrapper">
        <!-- ! Main nav -->
        <div th:replace="~{fragments/header-admin}"></div>
        <!-- ! Main -->
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Thống kê</h2>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row stat-cards">
                            <div class="col-md-6 col-xl-3">
                                <div class="mb-10 my-text">Chọn năm</div>
                                <select class="my-form-select" id="select_year">
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option selected value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <div class="mb-10 my-text">Chọn Khoa</div>
                                <select class="my-form-select" id="select_faculty" style="width: 100%">
                                    <option selected value="">Tất cả</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <article class="stat-cards-item">
                                    <div class="stat-cards-icon success">
                                        <i data-feather="bar-chart-2" aria-hidden="true"></i>
                                    </div>
                                    <div class="stat-cards-info">
                                        <p class="stat-cards-info__num" id="total_event" th:text="${totalEventHeld}"></p>
                                        <p class="stat-cards-info__title">Sự kiện đã tổ chức</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <article class="stat-cards-item">
                                    <div class="stat-cards-icon success">
                                        <i data-feather="feather" aria-hidden="true"></i>
                                    </div>
                                    <div class="stat-cards-info">
                                        <p class="stat-cards-info__num" id="total_enroll" th:text="${totalEnroll}"></p>
                                        <p class="stat-cards-info__title">Luợt đăng ký tham gia</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="chart">
                            <canvas id="myChart" aria-label="Site statistics" role="img"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class>
                            <article class="white-block">
                                <div class="top-cat-title">
                                    <h3>Top 7 Khoa</h3>
                                    <p>Tổ chức sự kiện nhiều nhất</p>
                                </div>
                                <ul class="top-cat-list">
                                    <th:block th:each="f: ${statisticFacultyData}">
                                        <li>
                                            <a href="##">
                                                <div class="top-cat-list__title">
                                                    <div th:text="${f.name}" th:remove="tag"></div> <span th:text="${f.totalEventHeld}"></span>
                                                </div>
                                                <div class="top-cat-list__subtitle">
                                                    <span class="blue" th:text="${f.code}">GD</span>
                                                </div>
                                            </a>
                                        </li>
                                    </th:block>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- ! Footer -->
        <div th:replace="~{fragments/footer-admin}"></div>
    </div>
</div>
<script th:src="@{/adminpage/plugins/chart.min.js}"></script>
<script th:src="@{/adminpage/plugins/feather.min.js}"></script>
<script th:src="@{/webpage/jquery/jquery-3.7.1.min.js}"></script>
<script th:src="@{/webpage/plugins/select2/js/select2.min.js}"></script>
<script th:inline="javascript">
    var charts = {};
    let faculties = [[${faculties}]]
    let faculty_data = $.map(faculties, function (obj) {
        obj.id_khoa = obj.id
        obj.id = obj.code
        obj.text = obj.name
        return obj;
    });
    $("#select_faculty").select2({
        data: faculty_data,
    })
    let statisticData = [[${statisticData}]]
    let EventDataSet = statisticData.reduce( (acc, item) => {
        acc.push(item.totalEvent)
        return acc}, [])
    let EnrollDataSet = statisticData.reduce( (acc, item) => {
        acc.push(item.totalEnroll)
        return acc}, [])

    $('#select_year').on('change', function() {
        let id_khoa =  $('#select_faculty').select2('data')[0].id_khoa
        let data = {'yearNo': this.value, 'facultyCode': $('#select_faculty').val(), 'facultyId': id_khoa?id_khoa:''}
        $.ajax({
            type: "get",
            url: "/api/statistic",
            data: data,
            dataType: "json",
            success: function (response) {
                updateStatistic(response)
            }
        });
    });

    $('#select_faculty').on('select2:select', function (e) {
        let value = e.params.data
        let data = {'yearNo': $('#select_year').val(), 'facultyCode': value.id, 'facultyId': value.id_khoa ? value.id_khoa:''}
        $.ajax({
            type: "get",
            url: "/api/statistic",
            data: data,
            dataType: "json",
            success: function (response) {
                updateStatistic(response)
            }
        });
    })
    function updateStatistic(response) {
        let eventData = response.statisticData.reduce( (acc, item) => {
            acc.push(item.totalEvent)
            return acc}, [])
        let enrollData = response.statisticData.reduce( (acc, item) => {
            acc.push(item.totalEnroll)
            return acc}, [])
        $('#total_event').text(response.totalEventHeld)
        $('#total_enroll').text(response.totalEnroll)
        $('.top-cat-list').empty()
        $.each(response.statisticFacultyData, function (i, e) {
            let div = `
            <li>
                <a href="##">
                    <div class="top-cat-list__title">
                        ${e.name} <span>${e.totalEventHeld}</span>
                    </div>
                    <div class="top-cat-list__subtitle">
                        <span class="blue">${e.code}</span>
                    </div>
                </a>
            </li>
            `
            $('.top-cat-list').append(div);
        });
        charts.visitors.data.datasets[0].data = eventData
        charts.visitors.data.datasets[1].data = enrollData
        charts.visitors.update();
    }
</script>
<!-- Custom scripts -->
<script th:src="@{/adminpage/js/dashboard-script.js}"></script>
</body>

</html>