<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--Head-->
<div th:replace="~{fragments/head-admin}"></div>
<!--Head-->

<body>
<div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">

    <!-- ! Sidebar -->
    <div th:replace="~{fragments/sidebar-admin}"></div>
    <!-- ! Sidebar -->

    <div class="main-wrapper">

        <!-- ! Main nav -->
        <div th:replace="~{fragments/header-admin}"></div>
        <!-- ! Main nav -->

        <!-- ! Main -->
        <div class="main">
            <div class="container">

                <!--   Alert   -->
                <div th:if="${message != null}" class="sw-alert" th:attr="data-alert=${alert},data-message=${message}"></div>
                <!--   Alert   -->

                <h2 class="main-title text-center text-uppercase">Quản lý phòng học</h2>
                <div class="row d-flex justify-content-between px-sm-0 px-lg-5">
                    <div class="col-4">
                        <a type="button" class="btn btn-primary" th:href="@{/admin/departments-and-rooms/edit-department}">
                            <i class="fa-solid fa-plus"></i> Tạo cơ sở
                        </a>
                    </div>
                    <form method="get" th:action="@{/admin/departments-and-rooms}" class="col-8">
                        <div class="input-group">
                            <select class="form-select" name="departmentCode">
                                <option value="" selected>Tất cả</option>
                                <th:block th:each="d: ${departmentSelect}">
                                    <option th:value="${d.code}" th:text="${d.name}"></option>
                                </th:block>
                            </select>
                            <input type="text" name="keyword" value="" class="form-control" placeholder="Tìm" />
                            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="list-group px-sm-0 px-lg-5">
                    <th:block th:each="d: ${departments}">
                        <div class="list-group-item d-flex justify-content-between align-items-center mt-3">
                            <h5 class="d-inline-block my-text"><div th:text="${d.name}" th:remove="tag"></div><span th:text="${d.code}" class="badge bg-primary ms-3"></span></h5>
                            <div>
                                <form th:action="@{/admin/departments-and-rooms/delete-department/{id}(id=${d.id})}" method="post">
                                    <button type="button" class="btn btn-sm btn-outline-primary btn_seemore">
                                        Ẩn <i class="fa-solid fa-chevron-up"></i>
                                    </button>
                                    <a class="btn btn-sm btn-primary" th:href="@{/admin/departments-and-rooms/edit-room?departmentCode={departmentCode}(departmentCode=${d.code})}">
                                        <i class="fa-solid fa-plus"></i> Tạo phòng
                                    </a>
                                    <a class="btn btn-sm btn-success" th:href="@{/admin/departments-and-rooms/edit-department/{id}(id=${d.id})}">
                                        <i class="fa-regular fa-pen-to-square"></i> Sửa
                                    </a>
                                    <button type="button" class="btn btn-sm btn-danger delete_department_btn">
                                        <i class="fa-regular fa-trash-can"></i> Xóa
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="list-group">
                            <th:block th:each="room: ${d.rooms}">
                                <div class="list-group-item d-flex justify-content-between pe-4">
                                    <div th:text="${room.code}" class="my-text"></div>
                                    <div>
                                        <form th:action="@{/admin/departments-and-rooms/delete-room/{id}(id=${room.id})}" method="post">
                                            <a class="btn btn-sm btn-outline-success" th:href="@{/admin/departments-and-rooms/edit-room/{id}?departmentCode={departmentCode}(id=${room.id}, departmentCode=${d.code})}">
                                                <i class="fa-regular fa-pen-to-square"></i> Sửa
                                            </a>
                                            <button type="button" class="btn btn-sm btn-outline-danger delete_room_btn">
                                                <i class="fa-regular fa-trash-can"></i> Xóa
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <hr>
                    </th:block>
                </div>
            </div>

            <!-- ! Footer -->
            <div th:replace="~{fragments/footer-admin}"></div>
            <!-- ! Footer -->

        </div>
    </div>
</div>
<div th:replace="~{fragments/scripts}"></div>
<!-- Icons library -->
<script th:src="@{/adminpage/plugins/feather.min.js}"></script>
<!-- Custom scripts -->
<script th:src="@{/adminpage/js/script.js}"></script>
<script th:inline="javascript">
    function getParentElement(element, parent) {
        while (element.parentElement) {
            if (element.parentElement.matches(parent)) {
                return element.parentElement;
            }
            element = element.parentElement;
        }
    }

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000,
    })

    const confirmDialog = Swal.mixin({
        showCancelButton: true,
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Hủy"
    })

    $(document).ready(function () {
        const alertData = $('.sw-alert').data('alert')
        if(alertData) {
            Toast.fire({
                icon: alertData,
                title: $('.sw-alert').data('message')
            })
        }

        $(".btn_seemore").each(function (index, element) {
            $(element).click(function (e) {
                e.preventDefault();
                if($(this).hasClass("hide"))
                    $(this).html("Ẩn <i class='fa-solid fa-chevron-up'></i>").removeClass("hide");
                else
                    $(this).html("Hiện <i class='fa-solid fa-chevron-down'></i>").addClass("hide");

                const list_items = getParentElement(element, ".list-group-item").nextElementSibling

                if($(list_items).hasClass("group-item_dp-none"))
                    $(list_items).animate({maxHeight:220},200).removeClass("group-item_dp-none");
                else
                    $(list_items).animate({maxHeight:0},200).addClass("group-item_dp-none");
            })
        })
        let btn_seemore = $(".btn_seemore")
        let c = btn_seemore.length;
        for (let index = c-1; index > 1; index--) {
            btn_seemore[index].click()
            console.log(btn_seemore[index])
        }

        $(".delete_room_btn, .delete_department_btn").each(function (index, element) {
            $(element).on('click', function(e) {
                const form = $(this).closest('form')
                let confirmStr = $(this).hasClass('delete_room_btn') ? "Bạn có chắc muốn xóa phòng này ?" : "Bạn có chắc muốn xóa cơ sở này ?"
                confirmDialog.fire({
                    title: confirmStr,
                    icon: "warning"
                }).then(function(result) {
                    if (result.isConfirmed) {
                        $(form).submit();
                    }
                });
            })
        })
    });

</script>
</body>
</html>