<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webpage/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webpage/fontawesome/css/all.min.css}">
        <title>SGU Event Schedular</title>
        <style>
            body {
              font-family: 'Poppins', sans-serif;
              background-color: #F1F6FF;
            }
            .input_box {
                position: relative;
            }
            .input_box i {
                cursor: pointer;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
        </style>
    </head>
    <body>
        <!--  Header -->
        <div th:replace="fragments/header"></div>
        <!--  Header -->
        <div class="container p-4 d-flex flex-column align-items-center">

            <!--   Alert   -->
            <div th:if="${message != null}" class="sw-alert" th:attr="data-alert=${alert},data-message=${message}"></div>
            <!--   Alert   -->

            <h3 class="mb-4">Đổi mật khẩu</h3>
            <form id="password_form" class="col-12 col-md-6 col-lg-4 m-auto needs-validation" th:action="@{/user/change-password}" method="post" novalidate>
                <div class="mb-3">
                    <label for="old_password" class="form-label">Mật khẩu cũ</label>
                    <div class="input_box">
                        <input type="password" class="form-control" name="old_password" id="old_password" required>
                        <i class="fa-regular fa-eye" onclick="togglePassword(this)"></i>
                    </div>
                    <div class="invalid-feedback">Không được bỏ trống trường này</div>
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">Mật khẩu mới</label>
                    <div class="input_box">
                        <input type="password" class="form-control" name="new_password" id="new_password" required>
                        <i class="fa-regular fa-eye" onclick="togglePassword(this)"></i>
                    </div>
                    <div class="invalid-feedback">Không được bỏ trống trường này</div>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Xác nhận mật khẩu mới</label>
                    <div class="input_box">
                        <input type="password" class="form-control" name="confirm_password" id="confirm_password" required>
                        <i class="fa-regular fa-eye" onclick="togglePassword(this)"></i>
                    </div>
                    <div class="invalid-feedback">Không được bỏ trống trường này</div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                    <div class="col-6 text-center">
                        <a class="btn btn-danger" th:href="@{/user/info}">Hủy</a>
                    </div>
                </div>
            </form>
        </div>

        <div th:replace="~{fragments/scripts}"></div>
        <script th:inline="javascript">
            (() => {
                'use strict';

                const form = document.querySelector('.needs-validation');

                form.addEventListener('submit', (event) => {
                    if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false)
            })()

            function togglePassword(e) {
                console.log(e.closest('.input_box').querySelector('input'))
                const ip = e.closest('.input_box').querySelector('input')
                if (ip.type === "password") {
                    ip.type = "text";
                    $(e).removeClass('fa-eye').addClass('fa-eye-slash')
                } else {
                    ip.type = "password";
                    $(e).removeClass('fa-eye-slash').addClass('fa-eye')
                }
            }

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 4000,
            })

            $(document).ready(function() {
                const alertData = $('.sw-alert').data('alert')
                if(alertData) {
                    Toast.fire({
                        icon: alertData,
                        title: $('.sw-alert').data('message')
                    })
                }
            })

            $('#password_form').submit(function(e) {
                if( $('#old_password').val()===$('#new_password').val() )
                    return true;
                else {
                    showToast('Mật khẩu mới và xác nhận mật khẩu không trùng khớp!', 'warning')
                    e.preventDefault()
                    return false;
                }
            })

            function showToast(message, type) {
                Toast.fire({
                    icon: type,
                    title: message
                })
            }

        </script>
    </body>
</html>