<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webpage/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webpage/fontawesome/css/all.min.css}">
        <title>SGU Event Schedular</title>
        <style>
            body {
              font-family: 'Poppins', sans-serif;
              background-color: #F1F6FF;
            }
            .input_box {
                position: relative;
            }
            .input_box i {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
        </style>
    </head>
    <body>
        <!--  Header -->
        <div th:replace="fragments/header"></div>
        <!--  Header -->
        <div class="container p-4 d-flex flex-column align-items-center">

            <!--   Alert   -->
            <div th:if="${alert != null}">
                <div class="row">
                    <div th:class="|alert alert-${alert} alert-dismissible fade show|" role="alert">
                        <span>Mật khẩu cũ không chính xác.</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <!--   Alert   -->

            <h3 class="mb-4">Đổi mật khẩu</h3>
            <form class="w-auto" th:action="@{/user/change-password}" method="post">
                <div class="mb-3">
                    <label for="old_password" class="form-label">Mật khẩu cũ</label>
                    <div class="input_box">
                        <input type="password" class="form-control" name="old_password" id="old_password">
                        <i class="fa-regular fa-eye"></i>
                    </div>
                    <span class="form-text text-danger">We'll never share your email with anyone else.</span>
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">Mật khẩu mới</label>
                    <div class="input_box">
                        <input type="password" class="form-control" name="new_password" id="new_password">
                        <i class="fa-regular fa-eye"></i>
                    </div>
                    <span class="form-text text-danger">We'll never share your email with anyone else.</span>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Xác nhận
                        mật
                        khẩu mới</label>
                    <div class="input_box">
                        <input type="password" class="form-control" name="confirm_password" id="confirm_password">
                        <i class="fa-regular fa-eye"></i>
                    </div>
                    <span class="form-text text-danger">We'll never share your email with anyone else.</span>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                    <div class="col-6 text-center">
                        <a class="btn btn-danger" th:href="@{/user/info}">Hủy</a>
                    </div>
                </div>
            </form>
        </div>

        <script th:src="@{/webpage/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/webpage/jquery/jquery-3.7.1.min.js}"></script>
    </body>
</html>