<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webpage/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webpage/fontawesome/css/all.min.css}">

    <title>Thông tin sự kiện</title>
    <style>
        body {
          background-color: #F1F6FF;
        }
        .description-wrapper {
          max-height: 180px;
          overflow-y: auto;
        }
      ::-webkit-scrollbar {
        width: 6px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      </style>
  </head>
  <body>
    <!--  Header -->
    <div th:replace="~{fragments/header}"></div>
    <!--  Header -->
    <div class="container pt-4 pb-4">

      <!--   Alert   -->
      <div th:if="${message != null}" class="sw-alert" th:attr="data-alert=${alert},data-message=${message}"></div>
      <!--   Alert   -->

      <h3 class="text-center text-lg-start">Thông tin của sự kiện <span th:if="${event.isOutDated}" class="badge text-bg-danger">Sự kiện đã hết hạn</span></h3>
      <div class="row pt-3">
        <div class="col-3">Tên sự kiện</div>
        <div class="col-9 text-secondary" th:text="${event.name}"></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Thông tin mô tả</div>
        <div class="col-9 text-secondary description-wrapper" th:text="${event.description}"></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Khoa</div>
        <div class="col-9 text-secondary" th:if="${event.facultyName!=null}" th:text="${event.facultyName}"></div>
        <div class="col-9 text-secondary" th:unless="${event.facultyName!=null}">Toàn bộ khoa</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Lớp</div>
        <div class="col-9 text-secondary" th:if="${event.classroomName!=null}" th:text="${event.classroomName}"></div>
        <div class="col-9 text-secondary" th:unless="${event.classroomName!=null}">Toàn bộ lớp</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Ngày diễn ra</div>
        <div class="col-9 text-secondary" th:text="${event.date}"></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Bắt đầu</div>
        <div class="col-9 text-secondary" th:text="${event.startTime}"></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Kết thúc</div>
        <div class="col-9 text-secondary" th:text="${event.endTime}"></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Địa điểm</div>
        <div class="col-9 text-secondary" th:text="${event.roomCode} + '-' + ${event.departmentName}"></div>
      </div>
      <hr>
      <div class="d-flex justify-content-between justify-content-lg-end align-items-center">
        <div sec:authorize="isAnonymous()">
          <a th:href="@{/event}" class="btn btn-outline-primary me-5">Quay lại</a>
          <a class="btn btn-primary" onclick="showToast('Vui lòng xác thực để sử dụng chức năng', 'warning')">Tham gia</a>
        </div>
        <div sec:authorize="hasAuthority('STUDENT')">
          <form th:if="${event.attendstatus}" th:action="@{/event/dismiss/{eventId}(eventId=${event.id})}" method="post">
            <a onclick="history.go(-1)" class="btn btn-outline-primary me-5">Quay lại</a>
            <button type="button" class="btn btn-danger dismiss_btn" th:disabled="${event.isOutDated}"><i class="fa-solid fa-up-right-from-square"></i> Rời khỏi</button>
          </form>
          <form th:unless="${event.attendstatus}" th:action="@{/event/attend/{eventId}(eventId=${event.id})}" method="post">
            <a onclick="history.go(-1)" class="btn btn-outline-primary me-5">Quay lại</a>
            <button type="button" class="btn btn-primary attend_btn" th:disabled="${event.isOutDated}"><i class="fa-solid fa-person-running"></i> Tham gia</button>
          </form>
        </div>
        <th:block sec:authorize="hasAuthority('TEACHER')">
          <a onclick="history.go(-1)" class="btn btn-outline-primary me-5">Quay lại</a>
          <a th:if="${event.createStatus}" th:href="@{/event/attend-list/{id}(id=${event.id})}" class="btn btn-outline-success me-5"><i class="fa-solid fa-users"></i> Xem DSSV</a>
          <a class="btn btn-warning me-5" th:if="${event.createStatus}" th:classappend="${event.isOutDated}?'disabled':'' " th:href="@{/event/edit/{id}(id=${event.id})}"><i class="fa-regular fa-pen-to-square"></i> Sửa</a>
          <form th:if="${event.createStatus}" th:action="@{/event/delete/{id}(id=${event.id})}" method="post">
            <button type="button" class="btn btn-danger delete_btn"><i class="fa-regular fa-trash-can"></i> Xóa</button>
          </form>
        </th:block>
        <th:block sec:authorize="hasAuthority('ADMIN')">
          <a onclick="history.go(-1)" class="btn btn-outline-primary me-5">Quay lại</a>
          <a th:href="@{/event/attend-list/{id}(id=${event.id})}" class="btn btn-outline-success me-5"><i class="fa-solid fa-users"></i> Xem DSSV</a>
          <a class="btn btn-warning me-5" th:classappend="${event.isOutDated}?'disabled':'' " th:href="@{/event/edit/{id}(id=${event.id})}"><i class="fa-regular fa-pen-to-square"></i> Sửa</a>
          <form th:action="@{/event/delete/{id}(id=${event.id})}" method="post">
            <button type="button" class="btn btn-danger delete_btn"><i class="fa-regular fa-trash-can"></i> Xóa</button>
          </form>
        </th:block>
      </div>

    </div>
    <div th:replace="~{fragments/scripts}"></div>
    <script th:inline="javascript">
      const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000,
      })

      const confirmDialog = Swal.mixin({
        showCancelButton: true,
        confirmButtonText: "Xác nhận",
        cancelButtonText: "Hủy"
      })

      function showToast(message, type) {
        Toast.fire({
          icon: type,
          title: message
        })
      }

      $(document).ready(function () {
        const alertData = $('.sw-alert').data('alert')
        if(alertData) {
            Toast.fire({
                icon: alertData,
                title: $('.sw-alert').data('message')
            })
        }
        $(".attend_btn").each(function (index, element) {
            $(element).on('click', function(e) {
                const form = $(this).closest('form')
                confirmDialog.fire({
                    title: "Bạn muốn đăng ký tham gia sự kiện này ?",
                    icon: "question"
                }).then(function(result) {
                    if (result.isConfirmed) {
                        $(form).submit();
                    }
                });
            })
        })

        $(".dismiss_btn").each(function (index, element) {
            $(element).on('click', function(e) {
                const form = $(this).closest('form')
                confirmDialog.fire({
                    title: "Bạn muốn rút khỏi sự kiện này ?",
                    icon: "question"
                }).then(function(result) {
                    if (result.isConfirmed) {
                        $(form).submit();
                    }
                });
            })
        })

        $(".delete_btn").each(function (index, element) {
            $(element).on('click', function(e) {
                const form = $(this).closest('form')
                confirmDialog.fire({
                    title: "Bạn có chắc muốn xóa bỏ sự kiện này ?",
                    icon: "warning"
                }).then(function(result) {
                    if (result.isConfirmed) {
                        $(form).submit();
                    }
                });
            })
        })
      });

    </script>
  </body>
</html>