<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webpage/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webpage/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/webpage/customstyled.css}">
    <title>Đặt lại mật khẩu</title>
    <style>
        body {
          background-color: #F1F6FF;
        }
        .input_box {
            position: relative;
        }
        .input_box i {
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
</head>
<body>

<!----------------------- Main Container -------------------------->

<div class="container d-flex justify-content-center align-items-center min-vh-100">

    <!----------------------- Login Container -------------------------->

    <div class="row border rounded-5 p-3 bg-white shadow box-area">

        <!--------------------------- Left Box ----------------------------->

        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
            <div class="mb-3">
                <img th:src="@{/webpage/imglogin.png}" class="img-fluid" style="width: 250px;">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">SGU Event Schedule</p>
            <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">
                Quên mật khẩu ? Đặt lại mật khẩu mới ngay.
            </small>
        </div>

        <!-------------------- ------ Right Box ---------------------------->

        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">

                    <!--   Alert   -->
                    <div th:if="${message != null}" class="sw-alert" th:attr="data-alert=${alert},data-message=${message}"></div>
                    <!--   Alert   -->

                    <h2>Đặt lại mật khẩu</h2>
                    <p>Lần sau hãy cẩn thận hơn nhé !</p>
                </div>
                <form id="reset_password_form" th:action="@{/user/reset-password}" method="post" class="needs-validation" novalidate>
                    <input type="hidden" name="token" th:value="${token}">
                    <div class="mb-3 input_box">
                        <input type="password" id="password" name="password" value="" class="form-control form-control-lg bg-light fs-6" placeholder="Mật khẩu mới" required>
                        <i class="fa-regular fa-eye" onclick="togglePassword(this)"></i>
                        <div class="invalid-feedback">Vui lòng điền mật khẩu mới</div>
                    </div>
                    <div class="mb-5 input_box">
                        <input type="password" id="password_confirm" value="" class="form-control form-control-lg bg-light fs-6" placeholder="Xác nhận mật khẩu" required>
                        <i class="fa-regular fa-eye" onclick="togglePassword(this)"></i>
                        <div class="invalid-feedback">Vui lòng điền xác nhận mật khẩu mới</div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Đổi mật khẩu</button>
                    </div>
                </form>
                <div class="row text-center">
                    <small>Đã nhớ mật khẩu ? <a th:href="@{/login}">Đăng nhập</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/scripts}"></div>
<script th:inline="javascript">
    (() => {
        'use strict';

        const form = document.querySelector('.needs-validation')

        form.addEventListener('submit', (event) => {
            if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false)
    })()

    function togglePassword(e) {
        console.log(e.closest('.input_box').querySelector('input'))
        const ip = e.closest('.input_box').querySelector('input')
        if (ip.type === "password") {
            ip.type = "text";
            $(e).removeClass('fa-eye').addClass('fa-eye-slash')
        } else {
            ip.type = "password";
            $(e).removeClass('fa-eye-slash').addClass('fa-eye')
        }
    }
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000,
    })
    $(document).ready(function() {
        const alertData = $('.sw-alert').data('alert')
        if(alertData) {
            Toast.fire({
                icon: alertData,
                title: $('.sw-alert').data('message')
            })
        }
    })
    $('#reset_password_form').submit(function(e) {
        if( $('#password_confirm').val()!==$('#password').val() ) {
            e.preventDefault()
            Toast.fire({
                icon: 'warning',
                title: 'Mật khẩu mới và xác nhận mật khẩu không trùng khớp!'
            })
            return false;
        }
    })
</script>
</body>
</html>