<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webpage/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webpage/fontawesome/css/all.min.css}">
        <title>SGU Event Schedular</title>
    </head>
    <style>
        body {
          font-family: 'Poppins', sans-serif;
          background-color: #F1F6FF;
        }
    </style>
    <body>
        <!--  Header -->
        <div th:replace="~{fragments/header}"></div>
        <!--  Header -->

        <div class="container p-4 d-flex flex-column align-items-center">

            <!--   Alert   -->
            <div th:if="${message != null}" class="sw-alert" th:attr="data-alert=${alert},data-message=${message}"></div>
            <!--   Alert   -->

            <h3 class="mb-4">Cập nhật thông tin cá nhân</h3>
            <form class="col-12 col-md-6 col-lg-4 m-auto needs-validation" th:action="@{/user/update-info}" method="post" th:object="${userDto}" novalidate>
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label for="fullname" class="form-label">Họ tên</label>
                    <input type="text" class="form-control" id="fullname" th:field="*{fullName}" required>
                    <div class="invalid-feedback">Không bỏ trống họ tên</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" required>
                    <div class="invalid-feedback">Không bỏ trống email</div>
                </div>
                <div class="mb-3" sec:authorize="hasAnyAuthority('STUDENT', 'TEACHER')">
                    <label for="user_code" class="form-label" sec:authorize="hasAuthority('STUDENT')">Mã số sinh viên</label>
                    <label for="user_code" class="form-label" sec:authorize="hasAuthority('TEACHER')">Mã giảng viên</label>
                    <input type="text" class="form-control" id="user_code" th:field="*{userCode}" required>
                    <div class="invalid-feedback" th:text="${userDto.roleCode}=='STUDENT'?'Không bỏ trống mssv':'Không bỏ trống mã giảng viên'"></div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                    <div class="col-6 text-center">
                        <a class="btn btn-danger" th:href="@{/user/info}">Hủy</a>
                    </div>
                </div>
            </form>
        </div>

        <div th:replace="~{fragments/scripts}"></div>
        <script th:inline="javascript">
            (() => {
                'use strict';

                const form = document.querySelector('.needs-validation')

                form.addEventListener('submit', (event) => {
                    if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false)
            })()

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 4000,
            })

            $(document).ready(function() {
                const alertData = $('.sw-alert').data('alert')
                if(alertData) {
                    Toast.fire({
                        icon: alertData,
                        title: $('.sw-alert').data('message')
                    })
                }
            })
        </script>
    </body>
</html>